body {
    background-color: rgb(255, 255, 255);

}


h1 {
    font-size: 73px;
    margin: auto;
}

p {
    position: relative;
    left: 320px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-left {
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: 0px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.397);
    font-size: 31px;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}


td {
    padding: 15px;
}

.mytext{
padding-left: 27%;
padding-right: 27%;
padding-top: 70px;
}

.textbody {
font-size: 130%;
}

.textheader {
    font-weight: bold;
    font-size: 170%;
    padding-bottom:11px;
    padding-top: 15px;
    font-style: italic;
}

.mytable {
    width: 90%;
    left: 5%;
    position: relative;
}

.myimagelink {
    display: inline-block;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover {
    color: rgb(238, 49, 49);
}

.mytable2 {
    width: 100%;
    text-align: left;
    font-size: 150%;
    font-weight: 900;
}

.news {
    border-bottom: 1px solid #e6e6e6;
    text-align: left;
    font-size: 27px;

}

.mytable2 a:link {
    color: black;
}

.mytable2 a:hover {
    color: rgb(238, 49, 49);
}