body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

h2{
    font-family: cursive;
}

#navbar {
    position: sticky;
    position: -webkit-sticky;
    background-color: #1c4479;
    display: flex;
    top: 0;
    width: 100%;
}

#logo{
    display: flex;
}

#logo > h2 > a{
    color: white;
    padding-left:10px;
    padding-right:30px;
    transition: 0.5s;
    text-decoration: none;
    text-shadow: 1px 2px black; 
}

#logo > h2 > a:hover{
    color:green;
}

#links > a{
    padding-right: 20px;
    padding-top: 20px;
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: left;
    transition: 0.5s;
    text-shadow: 1px 2px black;
}

#links > a:hover{
    color:yellow;
    font-size: 33px;
}

b{
    background-color: yellow;
    color: black;
    text-shadow: 0px 0px black;
}

#footer{
    background-color: #1c4479;
    overflow: hidden;
    width: 100%;
    color:#ccd2db;
}

#ftlinks{
    margin-top: 1%;
    margin-right: 1%;
    float: right;
}

#ftlinks > a{
    padding-right: 10px;
    color:#b8bdc5;
    transition: 0.3s;
}

#ftlinks > a:hover{
    color:white;
}

#warning {
    float: left;
    margin-left: 1%;
}

@media screen and (max-width: 800px) {
    #navbar{
        display: grid;
    }

    #links > a{
        font-size: 27px;
    }

    #links > a:hover{
        color: yellow;
        font-size: 27px;
    }
}